<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <title>Góc deep</title>
</head>
<body>
  <div class='text-center'>
      <h1>{{ title }}</h1>
      <h1>HUY's BLOG!</h1>
  </div>
  <div class='container'>
  <div class='row'>
    <div class='column'>
      <p>{{ content }}</p>
      <p> [Góc deep]
          Tôi - một chàng trai phong trần, tự do, tự tại, không muốn bị ràng buộc bởi những thứ tầm thường.
          Nàng - một thiếu nữ dịu dàng, dễ thương, đầy lòng nhân hậu.
          Tôi lướt qua nàng vào một chiều đầy nắng và gió. Con tim này rung động bất chợt khi nhìn thấy nàng nở nụ cười trên môi. Cảm giác này là sao nhỉ? Là yêu rồi sao? Hừm! ! ! Ngày buồn, tháng nhớ, đêm trông vào một tình yêu đích thực. Tôi quyết định tỏ tình với nàng. Cũng vào một chiều đầy nắng và gió, tôi lấy hết can đảm để nói ra những tâm tư trong lòng - thật là một sự cố gắng phi thường. Ấy vậy mà... Mọi người cũng biết kết quả ra sao rồi đấy. FRIENDZONE! Là Friendzone đó ạ. Có lẽ nàng chưa thấy được tình yêu mãnh liệt của tôi hay sao?Hay nàng chưa cảm thấy được trái tim nồng nhiệt của tôi luôn thổn thức mỗi khi gặp nàng sao?
      </p
    </div>
  </div>
  <font face="verdana" color="green">I'm Huy!</font>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
