{% extends "base.html" %}
{% load static %}
<title>Home Page Template</title>

{% block base_head %}
<link rel='stylesheet' href='{% static "css/main.css" %}'>
{% endblock %}

{% block content %}
<div class='text-center'>
    <h1>{{ title }}</h1>
    <h1>HUY's BLOG!</h1>
  </div>
  <div class='container'>
    <div class='row'>
      <div class='col'>
        <img src='{% static 'img/beach.jpg' %}' class='img-fluid'/>
        <p>{{ content }}</p>
      </div>
    </div>
  </div >
  {% if request.user.is_authenticated %}
    <div class='row'>
      <div class='col'>
        <h1>Premium</h1>
        {{ premium_content }}
      </div>
    </div>
  {% endif %}
</div>

{% endblock %}

<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel='stylesheet' href='{% static "css/main.css" %}'>
  <title>My Blog!</title>
</head>
<body>
  <div class='text-center'>
      <h1>{{ title }}</h1>
      <h1>HUY's BLOG!</h1>
  </div>
  <div class='container'>
    <div class='row'>
      <div class='col'>
        <img src='{% static 'img/beach.jpg' %}' class='img-fluid'/>
        <p>{{ content }}</p>
      </div>
    </div>
    </div >
      {% if request.user.is_authenticated %}
      <div class='row'>
        <div class='col'>
          <h1>Premium</h1>
          {{ premium_content }}
        </div>
      </div>
      {% endif %}
    </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html> -->
